*{
    margin:0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: hsl(0, 0%, 100%);
}

/*---------------------------- NAVIGATION ----------------------*/

nav{
    background-color: hsl(0, 0%, 0%);
    padding: 1% 5%;
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 15vw;
}
.navbar{
    width: 20vw;
    display: flex;
    align-items: center;
}
.navbar ul{
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
}
.navbar li{
    list-style: none;
}
.navbar a{
    text-decoration: none;
    color: white;
}

/*---------------------------- HEADER ----------------------*/

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(0, 0%, 80%);
}
.MyName{
    font-size: 1.5rem;
}
.MyImg img{
    width: 25vw;
    border-radius: 15%;
}

/*---------------------------MAIN----------------------------*/

main{
    background-color: hsl(0, 0%, 70%);
}

/*-------ABOUT ME---------*/

.AboutMe{
    background-color: hsl(0, 0%, 60%);
}
.AboutMe-Title{
    padding: 1% 20%;
}
.AboutMe-Title h2{
    font-size: 3rem;
}
.AboutMe-Title p{
    font-size: 1.5rem;
}
.AboutMe-Info{
    display: flex;
    justify-content: space-around;
    padding: 1% 10%;
}
.Language{
    flex-basis: 30vw;
}
.Working{
    flex-basis: 30vw;
}
.Education{
    flex-basis: 30vw;
}

/* --------MY WORK--------- */

.MyWork{
    background-color: hsl(0, 0%, 50%);
}
.MyWork-Title h2{
    font-size: 3rem;
    text-align: center;
}
.MyWork-Gallery{
height: 50vh;
display: flex;
align-items: center;
gap: 5vw;
overflow-x:scroll;
margin:  2vh 10vw;
}
.project{
    height: 40vh;
    min-width: 20vw;
    background-color: hsl(0, 0%, 30%);
    border-radius: 5%;
}
#Previous{
    min-width: 3vw;
    height:5vh;
    position: absolute;
    left: 5%;
    cursor: pointer;
}
#Next{
    min-width: 3vw;
    height:5vh;
    position: absolute;
    right: 5%;
    cursor: pointer;
}

/* ---------CONTACT ME---------- */

.ContactMe{
    background-color: hsl(0, 0%, 40%);
    display: flex;
    justify-content: space-around;
    padding: 1%;
}
.contact{
    height: 30vh;
    width: auto;
    flex-basis: auto;
    padding: 1%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/* -------------------------FOOTER------------------------------ */

footer{
    background-color: hsl(0, 0%, 0%);
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}
footer h3{
    color: white;
    font-size: 2rem;
}
footer button{
    font-size: 1.2rem;
    color: white;
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
    border: none;
    padding: 1%;
    cursor: pointer;
}
footer button:hover{
    background-color: hsl(0, 0%, 30%);
}
footer button:active{
    background-color: hsl(0, 0%, 50%);
}

